name: Build

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Login into GHCR
        run: echo "${{ secrets.DOCKER_ACCESS_TOKEN }}" | docker login ghcr.io --username ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build Docker image
        run: docker build -f .\Dockerfile -t ghcr.io/bskracic/example-app:0.0.0 ./example-app

      - name: Publish image
        run: docker push ghcr.io/bskracic/example-app:0.0.0